.app {
  background-color: #100e1d;
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex-grow: 0;
  width: 460px;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 40px 25px 40px;
}

.week {
  margin-bottom: 72px;
}

.hightlights {
  margin-bottom: 50px;
}

.week,
.hightlights {
  max-width: 704px;
  width: 100%;
}

@media (max-width: 960px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
