.sidebar {
  background-color: #1e213a;
  background-image: url('../../assets/images/cloud-background.png');
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-position: left -110px top 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 42px 46px 52px 46px;
  width: 100%;

  &-header {
    color: #6e707a;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__button {
      background-color: #6e707a;
      border: 0;
      color: #e7e7eb;
      cursor: pointer;
      font-size: 16px;
      padding: 10px 18px;
    }
  }

  &-main {
    flex-grow: 1;
    color: #e7e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 110px;
    margin-bottom: 87px;

    &__temperature {
      font-size: 144px;

      &-unit {
        color: #a09fb1;
        font-size: 48px;
        font-weight: 100;
      }
    }

    &__weather-state {
      color: #a09fb1;
      font-size: 36px;
    }
  }

  &-footer {
    color: #88869d;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;

    &__date {
      margin-bottom: 32px;
    }

    &__place {
      display: flex;
      align-items: center;

      span {
        margin-right: 8px;
      }
    }
  }
}

@media (max-width: 960px) {
  .sidebar {
    background-position: left 50% top 100px;
  }
}
