.card {
  background-color: #1e213a;
  color: #e7e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 35px;
  width: 328px;

  &__title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &-body {
    &__value {
      font-size: 64px;
    }

    &__unit {
      font-size: 36px;
    }
  }
}
